
@{
    ViewBag.Title = "Main";
}

<style>
    div.first {
        opacity: 0.9;
        filter: alpha(opaciti=90);
        margin-top: 15px;
    }
 

    .block {
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        color: black;
       
    }

    .block-absolute {
        position: absolute;
        width: 400px;
        margin-bottom: 20px;
        padding: 10px;
        color: black;
       
    }
</style>
 
<div class="first">
    <div class="jumbotron">
        <div class="block-absolute">
            <span style="font-family:Lobster, cursive; Font-size:30px;">Organize your tasks<br /></span>
            <span style="font-family:Lobster, cursive; Font-size:30px;">And enjoy life ...<br /></span>
            <span style="font-family:Lobster, cursive; font-size:15px;">
                Life can seem daunting, but it does not have<br />
                to be that way. Thorough tracking of all tasks  <br />
                in one place, so that it would be easier for you <br />
                to carry out your plans,keeping peace of mind. <br />
            </span>
        </div>
        <div class="block">
            <img src="~/src/todolist.png" width="415" height="284" alt="ToDoList" style="margin-left:250px">
        </div>
    </div>
</div>
 

