
@{
    ViewBag.Title = "Forbidden";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<style>
    .text {
        text-align: center;
    }
</style>
<div class="first">
    <div class="jumbotron">
        <div class="text">
            <h1> 403 </h1>
            <h3> Forbidden, access is denied can occur for one of several reasons: </h3>

        </div>
        <ul style="margin-left:15%">
            <li>
                <h4>You posted the wrong index file on the server</h4>
            </li>
            <li>
                <h4>You have placed the wrong permissions on the folder in which the requested file is located</h4>
            </li>
            <li>
                <h4>You uploaded the site files to the wrong folder</h4>
            </li>
        </ul>
    </div>
</div>