
@{
    ViewBag.Title = "InternalServerError";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<style>
    .text {
        text-align: center;
    }
</style>
<div class="first">
    <div class="jumbotron">
        <div class="text">
            <h1> 500 </h1>
            <h3> Internal Server Error !</h3>
            <a href="https://www.lifewire.com/500-internal-server-error-explained-2622938">How to fix ?</a>
        </div>
    </div>
</div>
            



