
@{
    ViewBag.Title = "NotFound";
}
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<style>
    .text {
        text-align: center;
    }
</style>
<div class="first">
    <div class="jumbotron">
        <div class="text">
            <h1 > 404 </h1>
            <h3 >Oops! The Page you requested was not found!</h3>
        </div>
    </div>
</div>
 

