body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

* {
    font-family: 'Lato', sans-serif;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


nav {
    display: block;
}

.menu {
    padding-left: 10px;
}

    .menu ul {
        list-style: none;
    }

    .menu li {
        display: inline;
    }

    .menu a:hover {
        color: red;
    }

table td, tr {
    width: 250px;
    pading: 10px;
}

.header {
    font-weight: bold;
}

td {
    padding-right: 10px;
}

input {
    width: 150px;
}
