
@{    
 ViewBag.Title = "SignOut";
}

<h2>SignOut</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Exit" class="btn btn-default" />
        </div>
    </div>
</div>

 }
